@import "tailwindcss";

@plugin "@tailwindcss/forms" {
  strategy: base;
}

@theme {
  --font-inter: Arial, Helvetica, sans-serif;
  --font-plus-jakarta: Arial, Helvetica, sans-serif;
  --font-mono: "Courier New", monospace;
}

@layer base {
  *, ::after, ::before, ::backdrop, ::file-selector-button {
    border-color: var(--color-slate-200, currentColor);
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    min-height: 100vh;
  }
}
